*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
}

body{
    font-family: "Montserrat" , Tahoma, Geneva, sans-serif;
    text-decoration: none;
    background: var(--color-light);
}
html{
    scroll-behavior: smooth ;
}
:root{
    --color-light: #EFE6DD ;
    --color-dark: #231F20;
    --color-orange: #f54f32;
    --color-blue: #7EBDC2;
    --color-cream: #F3DFA2;

}



header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(1, 1, 1, 0.5);
    align-items: center;
    position: fixed;
    width: 100%;
}

header ul li{
    display: inline-block;
    text-decoration: none;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 30px 40px;
    color: #fff;
}

header ul li a:hover{
    transition: all 0.3s ease 0.2s;
    color: #33FF05;
    font-size: 22px;
}


header img{
    width: 70px ;
    border-radius: 50%;
    
}

header button{
    background-color: #33FF05;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
}

.bg img{
    width: 100%;
    object-fit: cover;
    height: 800px;
}




.about{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
}

.about .allabout{
    flex: 50%;
}


.about .aboutImg img{
    width: 90%;
    padding: 20px;
}


.about .aboutTxt{
    justify-content: center;
    align-items: center;
}

.about .aboutTxt h1{
    font-weight: 500;
    padding-top: 60px ;
    text-align: center;
}
.about .aboutTxt .express{
    margin: auto;
}
.about .aboutTxt .express h2{
    color: #f54f32;
}

.about .aboutTxt .express p{
    line-height: 25px;
    font-size: 25px;
}
.about .aboutTxt .express{
    padding-top: 20px;
    display: flex;
}

.about .aboutTxt .express li{
    font-size: 42px;
    padding: 0 30px 0 0;
}


.classeslogo{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 40px;
}

.classes img{
    width: 100px;
    border-radius: 40px;
    background-color: #33FF05;
}



.classes h2{
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    color: #333;
    padding-top: 40px;
}

.classes .classeslogo .div{
    align-items: center;
    text-align: center;
    background: #fcfbfa;
    width: 400px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 40px;
}

.classes .classeslogo .div:hover{
    transition: all 0.3s ease 0.2s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    width: 450px;
}



.classes .classeslogo .div span{
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #333;
}

.classes .classeslogo .div p{
    color: #333;
    line-height: 20px;

}

#view{
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    color: #33FF05;
    padding-top: 10px;
}


.view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.view button{
    background: #333;
    padding: 5px 30px;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    
}

.view i{
    font-size: 32px;
    color: #33FF05;
    padding: 10px 10px;
    cursor: pointer;
    background: #333;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}



.gallery{
    display: grid;
    grid-template-columns: minmax(3, 3fr);
    flex-direction: row;
    padding: 0 20px;
    

}




.gallery img{
    width: 100%;
    margin: 0 30px;
    padding: 0 30px;
    border-radius: 40px;
}

#gallery{
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    color: #333;
    padding-top: 40px;
}



.reviews{
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
}
.reviews span{
    font-weight: 600;
    display: block;
}

.reviews .div{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reviews .reviewcontainer .div {
    justify-content: center;
    align-items: center;
}

#reviews{
    display: block;
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    color: #333;
    padding: 40px;

}
.reviews img{
    width: 120px;
    align-items: center;
    justify-content: center;
}


.reviews  i{
    color: #FFCE09;
    font-size: 22px;
}


footer{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background: #000;
    color: white;
    justify-content: center;
    padding: 20px 40px;
    text-decoration: none;
    
}

footer .lattest{
    color: red;
}


footer .weare{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding: 0 40px;
    border: 1px solid #33FF05;
    padding: 30px;
}

footer .weare .socials i{
    font-size: 32px;
    color: #33FF05;
    padding: 20px 30px;
}

footer .div{
    margin: 0 40px;
    padding: 30px;
    border: 1px solid #33FF05;
}
footer h5{
    color: #33FF05;
    font-size: 32px;
}
footer .div ul li{
    list-style: none;
    line-height: 25px;
    font-size: 15px;
}

footer img{
    width: 79px;
    border-radius: 50%;
}


footer .div{
    justify-content: center;
    align-items: center;
}

footer .div span{
    color: #33FF05;
    font-weight: 600;
    font-size: 22px;
    display: block;
}

footer .div input{
    height: 42px;
    font-size: 25px;
    text-align: center;
    border-radius: 30px;
    margin: 5px auto;
    justify-content: center;
    width: 100%;
    
}

footer .div  button{
    background-color: #33FF05;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    margin: auto;
    width: 100%;

}

.allright{
    display: block;
    align-items: center;
    background: #000;
    color: #fff;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer .lattest{
    color: red;
}


@media screen and (max-width: 992px) {

    header {
        display: none;
    }


    .bg img{
        object-fit: contain;
        margin: auto;
        height: auto;
    }

    .about{
        display: block;
        flex-direction: row-reverse;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .about .aboutImg img{
        width: 100%;
        padding: 20px;
    }

    .about .allabout{
        width: 100%;
    }

    .about .aboutImg img{
        width: 100%;
        padding: 20px;
    }
    .about .aboutTxt{
        justify-content: center;
        align-items: left;
    }

    .about .aboutTxt h1{
        font-weight: 500;
        padding-top: 60px ;
        text-align: center;
    }

    .classes h2{
        font-size: 32px;
    }

    .classeslogo{
        display: block;
        justify-content: space-between;
        align-content: center;
        margin: 0;
    }

    .classes .classeslogo .div{
        align-items: center;
        text-align: center;
        background: #fcfbfa;
        padding: 20px;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 10px 10px;
    }



}